---
import Layout from "../layouts/Layout.astro";
const title = "Productos";
import Tarjeta from "../components/tarjeta.astro";
import Categorias from "../components/categorias.astro"
---
<Layout {title}>

    <section>
      <!-- SECCION PARA EL APARTADO GOORIN BROS  -->
        <div id="nuestroproductos">
          <h2 id="tituloproductos"> Productos The Goorin Bros :</h2>
        </div>
        <div id="contenedormaintarjetas" class="tarjetas-flex">
          <!-- AÑADIMOS EL COMPONENTE DE LAS TARJETAS AÑADIENDO LOS DIFERENTES PROPTS -->
            <div>
                <Tarjeta img="assets/gorras/goorinbros/090625451028_1.avif" titulo="Goorin Bros" contenido="Recycled 66 Classic Hat Black Adjustable - Goorin Bros" precio="26,99" />
              </div>
              <div>
                <Tarjeta img="assets/gorras/goorinbros/090625460297_1.avif" titulo="Goorin Bros" contenido="Recycled 66 Classic Hat Pink Moss Adjustable - Goorin Bros" precio="31,99" />
              </div>
              <div>
                <Tarjeta img="assets/gorras/goorinbros/090625467524_1.avif" titulo="Goorin Bros" contenido="Recycled 66 Classic Dark Sage/Mist Sage Adjustable - Goorin Bros" precio="31,99" />
              </div>
              <div>
                <Tarjeta img="assets/gorras/goorinbros/090625469399_1.avif" titulo="Goorin Bros" contenido="Hatstore Exclusive x New York Yankees" precio="35,40" />
              </div>
              <div>
                <Tarjeta img="assets/gorras/goorinbros/090625471187_1.avif" titulo="Goorin Bros" contenido="Los Angeles Dodgers 47 Mvp" precio="27,40" />
              </div>
              <div>
                <Tarjeta img="assets/gorras/goorinbros/090625499600_1.avif" titulo="Goorin Bros" contenido="Pittsburgh Pirates Sure Shot Mvp Black Adjustable" precio="30,90" />
              </div>
              <div>
                <Tarjeta img="assets/gorras/goorinbros/090625500672_1.avif" titulo="Goorin Bros" contenido="The Goat Coral Trucker - Goorin Bros" precio="25.90" />
              </div>
              <div>
                <Tarjeta img="assets/gorras/goorinbros/090625502126_1.avif" titulo="Goorin Bros" contenido="The Goat Coral Trucker - Goorin Bros" precio="19,99" />
              </div>
              <div>
                <Tarjeta img="assets/gorras/goorinbros/090625515669_1.avif" titulo="Goorin Bros" contenido="The Goat Coral Trucker - Goorin Bros" precio="19,90" />
              </div>
              <div>
                <Tarjeta img="assets/gorras/goorinbros/090625533687_1.avif" titulo="Goorin Bros" contenido="The Goat Coral Trucker - Goorin Bros" precio="49,99" />
              </div>
              <div>
                <Tarjeta img="assets/gorras/goorinbros/090625555870_1.avif" titulo="Goorin Bros" contenido="The Goat Coral Trucker - Goorin Bros" precio="25,90" />
              </div>
              <div>
                <Tarjeta img="assets/gorras/goorinbros/HS1016836_1.avif" titulo="Goorin Bros" contenido="The Goat Coral Trucker - Goorin Bros" precio="19,40" />
              </div>
        </div>
       
      </section>
      
      <style>
        #nuestroproductos {
          width: 70%;
        }
        #tituloproductos{
          margin-left:10%;
          margin-top:7%;
          margin-bottom:5%
        }
      
        #contenedormaintarjetas {
          /* ESTILOS PARA EL CONTENEDOR DE LAS TARJETAS CON FLEX  */
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          /* ESPACIO ENTRE LAS TARJETAS */
          gap: 20px; 
        }
      
        #contenedormaintarjetas > div {
          width: calc(33.33% - 20px); 
        }
      
        @media (max-width: 767px) {
          
          #contenedormaintarjetas > div {
            width: calc(100% - 20px); 
          }
        }
      </style>
</Layout>
