---
import Layout from "../layouts/Layout.astro";
const title = "Tienda Gorras";
import Tarjeta from "../components/tarjeta.astro";
---

<Layout {title}>
  <div id="banner">
    <div id="titulo">
      <h1>Estilo que se lleva en la cabeza</h1>
    </div>
    <div id="imagenbanner">
      <img id="gorra1"
        src="assets/398956637_1102980074024756_4853971165764625905_n-removebg-preview.png"
        alt=""
      />
      <img id="gorra2"
        src="assets/399612496_964406625107674_1790441146020002730_n-removebg-preview.png"
        alt=""
      />
      <img id="gorra3" 
        src="assets/403944023_861170019091750_7956794222111924417_n-removebg-preview.png"
        alt=""
      />
    </div>
  </div>
  
  <section class="page-section" id="servicios">
    <div class="container">
        <div id="nuestrosservicios" class="text-center">
            <h2 class="section-heading text-uppercase">Nuestros Servicios</h2>
            <h3 id="idgorras" class="section-subheading text-muted"> Gorras que Hablan por Ti</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-car fa-stack-1x fa-inverse"></i>
                </span>
                <img width="180px" src="assets/Captura_de_pantalla_2023-12-05_221041-removebg-preview.png" alt="">
                <h4 class="my-3">Envíos en de 48 Horas</h4>
                <p class="text-muted">Descubre la eficiencia de nuestros servicios de envío exprés que te garantizan la entrega de tus paquetes en menos de 48 horas.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-cogs fa-stack-1x fa-inverse"></i>
                </span>
                <img width="180px" src="assets/Captura_de_pantalla_2023-12-05_221125-removebg-preview.png" alt="">
                <h4 class="my-3">Envíos Internacionales Sin Fronteras</h4>
                <p class="text-muted">Conquista nuevos horizontes con nuestros servicios de envíos internacionales. En DcKap, facilitamos el proceso de enviar tus productos a cualquier rincón del mundo.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
                </span>
                <img width="180px" src="assets/Captura_de_pantalla_2023-12-05_221333-removebg-preview.png" alt="">
                <h4 class="my-3">Garantía de Calidad en Cada Envío:</h4>
                <p class="text-muted">En DcKap, la satisfacción del cliente es nuestra prioridad. Nos comprometemos a ofrecer un servicio de envío que cumple con los más altos estándares de calidad.</p>
            </div>
        </div>
    </div>
</section>
<section>
  <div id="nuestroproductos">
  <h2 id="tituloproductos">Nuestros Productos :</h2>
  </div>
  <div id="contenedormaintarjetas">
  <div id="contenedortarjetas">
    <div id="">
      <Tarjeta />
    </div>
    <div id="">
      <Tarjeta />
    </div>
    <div id="">
      <Tarjeta />
    </div>
    <div id="">
      <Tarjeta />
    </div>
    <div id="">
      <Tarjeta />
    </div>
    <div id="">
      <Tarjeta />
    </div>
  </div>
</div>
</section>
</Layout>

<style>
    body{
        overflow: auto;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    #servicios{
      margin-top: 3%;
    }
    #nuestrosservicios{
      margin-bottom: 4%;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    #idgorras{
      font-size: 20px;
    }
    #nuestroproductos{
      width: 100%;
      /* border-bottom: 2px solid #000;
      padding: 0 10px; */
    }
    #tituloproductos{
      margin-left: 7%;
    }
    #contenedortarjetas{
      width: 75%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

    }
    #contenedortarjetas > div {
  width: calc(33.33% - 20px); /* Ajusta el ancho según tus preferencias y considera el margen entre las tarjetas */
  margin: 10px; /* Ajusta el margen según tus preferencias */
}
#contenedormaintarjetas{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
#nuestroproductos{
  margin-top: 3%;
}
    /* Estilos para el Header */
  #imagenbanner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  #banner {
    background: linear-gradient(
      rgb(17, 24, 39),
      rgb(88, 28, 135),
      rgb(124, 58, 237)
    );
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    z-index: 1000;
    
  }
  #titulo {
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: bold;
    margin-top: 2%;
  }
  @media (max-width: 900px) {
        /* Estilos específicos para pantallas con ancho máximo de 600px (típicamente, dispositivos móviles) */
        #imagenbanner{
            flex-direction: column;
        }
        #gorra1{
  display: none;
}
#contenedortarjetas{
  width: 100%;
  
}
#gorra2, #gorra3{
  width: 300px;
}
#contenedortarjetas > div {
    width: calc(65% - 20px); /* Cambia el ancho para que sean dos tarjetas por fila */
  }
    }
  /* ------------------------------------------------------- */
  #contendorservicios{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    width: 100%;
    z-index: 1000;
  }
  #servicios{
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
