---
import Layout from "../layouts/Layout.astro";
const title = "Tienda Gorras";
import Tarjeta from "../components/tarjeta.astro";
import Categorias from "../components/categorias.astro"

---

<Layout {title}>
  <!-- HTML DEL BANNER -->
  <div id="banner">
    <div id="titulo">
      <h1>Estilo que se lleva en la cabeza</h1>
    </div>
    
    <div id="imagenbanner">
      <!-- IMAGENES DEL BANNER -->
      <img id="gorra1"
        src="assets/398956637_1102980074024756_4853971165764625905_n-removebg-preview.png"
        alt=""
      />
      <img id="gorra2"
        src="assets/399612496_964406625107674_1790441146020002730_n-removebg-preview.png"
        alt=""
      />
      <img id="gorra3" 
        src="assets/403944023_861170019091750_7956794222111924417_n-removebg-preview.png"
        alt=""
      />
    </div>
  </div>
  
  <section class="page-section" id="servicios">
    <div class="container">
      <!-- CONTENEDOR DE LOS SERVIVICOS -->
      <!-- TITULO DE LOS SERVICIOS  -->
        <div id="nuestrosservicios" class="text-center">
            <h2 class="section-heading text-uppercase">Nuestros Servicios</h2>
            <h3 id="idgorras" class="section-subheading text-muted"> Gorras que Hablan por Ti</h3>
        </div>
      
        
        <div class="row text-center">
          <!-- PRIMER CONTENEDOR -->
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-car fa-stack-1x fa-inverse"></i>
                </span>
                <img width="180px" src="assets/Captura_de_pantalla_2023-12-05_221041-removebg-preview.png" alt="">
                <h4 class="my-3">Envíos en de 48 Horas</h4>
                <p class="text-muted">Descubre la eficiencia de nuestros servicios de envío exprés que te garantizan la entrega de tus paquetes en menos de 48 horas.</p>
            </div>
            <!-- SEGUNDO CONTENEDOR -->
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-cogs fa-stack-1x fa-inverse"></i>
                </span>
                <img width="180px" src="assets/Captura_de_pantalla_2023-12-05_221125-removebg-preview.png" alt="">
                <h4 class="my-3">Envíos Internacionales Sin Fronteras</h4>
                <p class="text-muted">Conquista nuevos horizontes con nuestros servicios de envíos internacionales. En DcKap, facilitamos el proceso de enviar tus productos a cualquier rincón del mundo.</p>
            </div>
            <!-- TERCER CONTENEDOR  -->
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
                </span>
                <img width="180px" src="assets/Captura_de_pantalla_2023-12-05_221333-removebg-preview.png" alt="">
                <h4 class="my-3">Garantía de Calidad en Cada Envío:</h4>
                <p class="text-muted">En DcKap, la satisfacción del cliente es nuestra prioridad. Nos comprometemos a ofrecer un servicio de envío que cumple con los más altos estándares de calidad.</p>
            </div>
        </div>
    </div>
</section>

<!-- SECCION DE LOS PRODUCTOS -->
<section>
  <div id="nuestroproductos">
  <h2 id="tituloproductos">Nuestros Productos :</h2>
  </div>
  <div id="contenedormaintarjetas">
  <div id="contenedortarjetas">
    <!-- AÑADIMOS EL COMPONENTE TARJETA Y LE PONEMOS LOS DIFERENTES PROPTS IMG, TITULO, CONTENIDO -->
    <div id="">
      <Tarjeta img="assets/gorras/193234074845_1.avif" titulo="47 Brand" contenido="Boston Red Sox Raised Basic Mvp Navy Adjustable - 47 Brand" precio="39,40" />
    </div>
    <div id="">
      <Tarjeta img="assets/gorras/888588601860_1.avif" titulo="Brixton" contenido="Crest Black Adjustable - Brixton" precio="29,90" />
    </div>
    <div id="">
      <Tarjeta img="assets/gorras/4063633086694_1.avif" titulo="Stetson" contenido="Trucker Cap Malibu Khaki Trucker - Stetson" precio="20,99" />
    </div>
    <div id="">
      <Tarjeta img="assets/gorras/GCP2310288_1.avif" titulo="New Era" contenido="Hatstore Exclusive x New York Yankees" precio="35,40" />
    </div>
    <div id="">
      <Tarjeta img="assets/gorras/HS1013023_1.avif" titulo="47 Brand" contenido="Los Angeles Dodgers 47 Mvp" precio="27,40" />
    </div>
    <div id="">
      <Tarjeta img="assets/gorras/HS2123894_1.avif" titulo="47 Brand" contenido="Pittsburgh Pirates Sure Shot Mvp Black Adjustable" precio="30,90" />
    </div>
    
  </div>
  
</div>
<div id="contenedorboton">
<button id="botonvertodos" type="button" class="btn btn-primary"> <a href="todasgorras">Ver Todos</a></button>
</div>
<section/>
<!-- SECCION TIPO DE GORRAS, 3 CAJAS  -->
<section id="tiposdegorras">
  <div id="nuestroproductos">
    <h2 id="tituloproductos">Tipos de gorras</h2>
    </div>
    <div id="contenedormaintarjetas">
      <!-- CONTENEDOR PARA LAS TARJETAS -->
    <div id="contenedortarjetastipos">
      <!-- AÑADIMOS LAS IMAGENES CON UN <A HREF=""> Y DENTRO UNA IMAGEN  -->
      <a href="tipoplano"> <img width="300px" src="assets/snapback_basic_332x332.webp" alt=""></a>
      <a href="tipotrucker"><img width="300px" src="assets/Mesa_de_trabajo_6-100_332x332.webp" alt=""></a>
        <a href="tipoajustable"> <img width="300px" src="assets/curved_visor_332x332.webp" alt=""></a>
      
      </div>
    </div>
  </div>
</section>
<!-- SECCION PARA LAS MARCAS DE LAS GORRAS 3 SECCIONES (GOORINBROS, THE NORTH FACE, NEW ERA) -->
<section id="marcasgorras" >
  <div id="nuestroproductos">
  <h2 id="tituloproductos">Marcas de Gorras :</h2>
  </div>
  <!-- CONTENEDOR DE LAS TARJETAS -->
  <div id="contenedormaintarjetas">
  <div id="contenedortarjetas">
    <div id="">
      <!-- AÑADIMOS UN NUEVO COMPONENTE PARA AÑADIR LA IMAGEN CON EL NOMBRE (CATEGORIAS) -->
      <a href="newera"><Categorias img="assets/marcas/new-era-logo.svg" titulo="New Era" /></a>
    </div>
    <div id="">
     <a href="thenortface"> <Categorias img="assets/marcas/the-north-face-logo.svg" titulo="TheNorthFace"/></a>
    </div>
    <div id="">
      <a href="goorin"> <Categorias img="assets/marcas/goorin-bros-inc-logo-vector.svg" titulo="Goorin Bros"/></a>
    </div>
   
  </div>
  
</div>


</section>
<!-- FINALMENTE AÑADIMOS OTRA SECCION CON IMAGENES DE LAS REDES SOCIALES DE LA WEB -->
<section id="fotosinsta">
  <div id="nuestroproductos">
    <h2 id="tituloproductos">Fotos Instagram</h2>
    </div>
    <div id="contenedormaintarjetas">
    <div id="contenedortarjetas">
      <!-- CONTENEDOR DE LAS IMAGENES -->
      <img width="300px" src="assets/369877562_1416346055585250_3145208483507793088_n.jpg" alt="">
      <img width="300px" src="assets/405794255_3554907144794427_3552658486012645399_n.jpg" alt="">
      <img width="300px" src="assets/399301868_6714830661939302_851356774131000075_n.jpg" alt="">
      <img width="300px" src="assets/404899353_6961098817269303_9184545502354441663_n.jpg" alt="">
      <img width="300px" src="assets/401719860_712656097416152_8340593792565260024_n.jpg" alt="">
      <img width="300px" src="assets/402900069_658998969713979_5866725274371971009_n.jpg" alt="">
      <img width="300px" src="assets/403870462_6765827910120515_50628714442493670_n.jpg" alt="">
      <img width="300px" src="assets/404656769_1057614085661343_7750288183228582176_n.jpg" alt="">
      </div>
    </div>
  </div>
</section>

</Layout>

<style>
  #contenedorboton{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;


  }
  #botonvertodos{
    color: aliceblue;
  }
  #botonvertodos a {
    /* PARA QUITAR EL SUBRAYADO AZUL  */
        text-decoration: none;
        color: inherit; 
    }
    body{
      /* ESTILOS PARA TODO EL BODY */
        overflow: auto;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    #servicios{
      margin-top: 3%;
    }
    #nuestrosservicios{
      margin-bottom: 4%;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    #idgorras{
      font-size: 20px;
    }
    #nuestroproductos{
      width: 100%;
    }
    #tituloproductos{
      margin-left: 7%;
    }
    #contenedortarjetas{
      /* HACEMOS FLEX PARA COLOCAR BIEN LAS IMAGENES */
      width: 75%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

    }
    #contenedortarjetastipos{
      width: 75%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    #contenedortarjetas > div {
      /* PARA MANEJAR EL ANCHO Y LOS BORDES DE LAS TARJETAS  */
  width: calc(33.33% - 20px); 
  margin: 10px; 
}
#contenedormaintarjetas{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
#nuestroproductos{
  margin-top: 3%;
}
    /* Estilos para el Header */
  #imagenbanner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  #banner {
    background: linear-gradient(
      rgb(17, 24, 39),
      rgb(88, 28, 135),
      rgb(124, 58, 237)
    );
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    z-index: 1000;
    
  }
  #titulo {
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: bold;
    margin-top: 2%;
  }
  @media (max-width: 900px) {
       
        #imagenbanner{
            flex-direction: column;
        }
        #gorra1{
  display: none;
}
#contenedortarjetas{
  width: 100%;
  
}
#gorra2, #gorra3{
  width: 300px;
}
#contenedortarjetas > div {
  /* PARA MANEJAR EL ANCHO Y LOS BORDES DE LAS TARJETAS  */
    width: calc(65% - 20px);
  }
    }
  #nuestroproductos{
    margin-bottom: 3%;
    margin-top: 3%;
  }
  #fotosinsta{
    margin-bottom: 5%;
  }
  /* FIN ESTILOS DEL HEADER */
  /* ------------------------------------------------------- */
  #contendorservicios{
    /* ESTILOS PARA EL CONTENEDOR */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    width: 100%;
    z-index: 1000;
  }
  #servicios{
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
