---
import Layout from "../layouts/Layout.astro";
const title = "Productos";
import Tarjeta from "../components/tarjeta.astro";
import Categorias from "../components/categorias.astro"
---
<Layout {title}>

  <!-- SECCION PARA LAS GORRAS DE LA MARCA NEW ERA -->
    <section>
        <div id="nuestroproductos">
          <h2 id="tituloproductos">Productos New Era :</h2>
        </div>
        <div id="contenedormaintarjetas" class="tarjetas-flex">
           <!-- AÑADIMOS EL COMPONENTE DE LAS TARJETAS AÑADIENDO LOS DIFERENTES PROPTS -->
            <div>
                <Tarjeta img="assets/gorras/newera/195131198105_1.avif" titulo="New Era" contenido="Recycled 66 Classic Hat Black Adjustable - New Era" precio="26,99" />
              </div>
              <div>
                <Tarjeta img="assets/gorras/newera/195131198686_1.avif" titulo="New Era" contenido="Recycled 66 Classic Hat Pink Moss Adjustable - New Era" precio="31,99" />
              </div>
              <div>
                <Tarjeta img="assets/gorras/newera/195599549181_1.avif" titulo="New Era" contenido="Recycled 66 Classic Dark Sage/Mist Sage Adjustable - New Era" precio="31,99" />
              </div>
              <div>
                <Tarjeta img="assets/gorras/newera/196080801955_1.avif" titulo="New Era" contenido="Hatstore Exclusive x New York Yankees" precio="35,40" />
              </div>
              <div>
                <Tarjeta img="assets/gorras/newera/196500615582_1.avif" titulo="New Era" contenido="Los Angeles Dodgers 47 Mvp" precio="27,40" />
              </div>
              <div>
                <Tarjeta img="assets/gorras/newera/197215727430_1.avif" titulo="New Era" contenido="Pittsburgh Pirates Sure Shot Mvp Black Adjustable" precio="30,90" />
              </div>
              <div>
                <Tarjeta img="assets/gorras/newera/197215727461_1.avif" titulo="New Era" contenido="The Goat Coral Trucker - New Era" precio="25.90" />
              </div>
              <div>
                <Tarjeta img="assets/gorras/newera/197215727485_1.avif" titulo="New Era" contenido="The Goat Coral Trucker - New Era" precio="19,99" />
              </div>
              <div>
                <Tarjeta img="assets/gorras/newera/197371119223_1.avif" titulo="New Era" contenido="The Goat Coral Trucker - New Era" precio="19,90" />
              </div>
              <div>
                <Tarjeta img="assets/gorras/newera/885431296624_1.avif" titulo="New Era" contenido="The Goat Coral Trucker - New Era" precio="49,99" />
              </div>
              <div>
                <Tarjeta img="assets/gorras/newera/889355947532_1.avif" titulo="New Era" contenido="The Goat Coral Trucker - New Era" precio="25,90" />
              </div>
              <div>
                <Tarjeta img="assets/gorras/newera/HS2014759-2_1.avif" titulo="New Era" contenido="The Goat Coral Trucker - New Era" precio="19,40" />
              </div>
        </div>
        
      </section>
      
      <style>
        #tituloproductos{
          margin-left:10%;
          margin-top:7%;
          margin-bottom:5%
        }
        #nuestroproductos {
          width: 70%;
        }
      
        #contenedormaintarjetas {
           /*TIPO FLEX PARA EL CONTENEDOR DE LAS TARJETAS */
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          /* Espacio entre tarjetas */
          gap: 20px; 
        }
      
        #contenedormaintarjetas > div {
          /* PARA MANEJAR EL ANCHO Y LOS BORDES DE LAS TARJETAS  */
          width: calc(33.33% - 20px); 
        }
      
        @media (max-width: 767px) {
          
          #contenedormaintarjetas > div {
            /* PARA MANEJAR EL ANCHO Y LOS BORDES DE LAS TARJETAS  */
            width: calc(100% - 20px); 
          }
        }
      </style>
</Layout>
