---
import Layout from "../layouts/Layout.astro";
const title = "Productos";
import Tarjeta from "../components/tarjeta.astro";
import Categorias from "../components/categorias.astro"
---
<Layout {title}>

<!-- SECCION PARA GORRAS DE TIPO TRUCKER -->
    <section>
        <div id="nuestroproductos">
          <h2 id="tituloproductos">Gorras Tipo Trucker :</h2>
        </div>
        <!-- CONTENEDOR PARA LOS COMPONENTES -->
        <div id="contenedormaintarjetas" class="tarjetas-flex">
            <div>
                <!-- AÑADIMOS COMPONENTES PARA LAS TARJETAS -->
                <Tarjeta img="assets/gorras/goorinbros/090625451028_1.avif" titulo="Goorin Bros" contenido="Recycled 66 Classic Hat Black Adjustable - Goorin Bros" precio="26,99" />
              </div>
              <div>
                <Tarjeta img="assets/gorras/goorinbros/090625460297_1.avif" titulo="Goorin Bros" contenido="Recycled 66 Classic Hat Pink Moss Adjustable - Goorin Bros" precio="31,99" />
              </div>
              <div>
                <Tarjeta img="assets/gorras/goorinbros/090625467524_1.avif" titulo="Goorin Bros" contenido="Recycled 66 Classic Dark Sage/Mist Sage Adjustable - Goorin Bros" precio="31,99" />
              </div>
              <div>
                <Tarjeta img="assets/gorras/goorinbros/090625469399_1.avif" titulo="Goorin Bros" contenido="Hatstore Exclusive x New York Yankees" precio="35,40" />
              </div>
              <div>
                <Tarjeta img="assets/gorras/goorinbros/090625471187_1.avif" titulo="Goorin Bros" contenido="Los Angeles Dodgers 47 Mvp" precio="27,40" />
              </div>
              <div>
                <Tarjeta img="assets/gorras/goorinbros/090625499600_1.avif" titulo="Goorin Bros" contenido="Pittsburgh Pirates Sure Shot Mvp Black Adjustable" precio="30,90" />
              </div>
              <div>
                <Tarjeta img="assets/gorras/goorinbros/090625500672_1.avif" titulo="Goorin Bros" contenido="The Goat Coral Trucker - Goorin Bros" precio="25.90" />
              </div>
              <div>
                <Tarjeta img="assets/gorras/goorinbros/090625502126_1.avif" titulo="Goorin Bros" contenido="The Goat Coral Trucker - Goorin Bros" precio="19,99" />
              </div>
              <div>
                <Tarjeta img="assets/gorras/goorinbros/090625515669_1.avif" titulo="Goorin Bros" contenido="The Goat Coral Trucker - Goorin Bros" precio="19,90" />
              </div>
              
              
              
        </div>
        <!-- <button id="botonvertodos" type="button" class="btn btn-primary"> <a href="todasgorras">Ver Todos</a></button> -->
      </section>
      
      <style>
        #tituloproductos{
            margin-top:3%
        }
      
        #tituloproductos{
          margin-left:5%;
          margin-top:7%;
          margin-bottom:5%
        }
      
        #contenedormaintarjetas {
             /*TIPO FLEX PARA EL CONTENEDOR DE LAS TARJETAS */
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          gap: 20px; /* Espacio entre tarjetas */
        }
      
        #contenedormaintarjetas > div {
          width: calc(33.33% - 20px); /* Ajustar el ancho de cada tarjeta con un espacio de 20px entre ellas */
        }
      
        @media (max-width: 767px) {
          /* RESPONSIVE PARA LAS TARJETAS */
          #contenedormaintarjetas > div {
            /* PARA MANEJAR EL ANCHO Y LOS BORDES DE LAS TARJETAS  */
            width: calc(100% - 20px); 
          }
        }
      </style>
</Layout>
