---
import Layout from "../layouts/Layout.astro";
const title = "Productos";
import Tarjeta from "../components/tarjeta.astro";
import Categorias from "../components/categorias.astro"
---
<Layout {title}>

  <!-- SECCION PARA TIPOS DE GORRAS PLANAS -->
    <section>
        <div id="nuestroproductos">
          <h2 id="tituloproductos">Gorras Tipo SnapBack : </h2>
        </div>
        <div id="contenedormaintarjetas" class="tarjetas-flex">
          <!-- CONTENEDOR PARA LOS COMPONENTES -->
            <div>
              <!-- AÑADIMOS LOS COMPONENTES TARJETAS CON LOS DIFERENTES PROPS -->
                <Tarjeta img="../assets/gorras/snapback/12814_1.avif" titulo="New Era" contenido="Recycled 66 Classic Hat Black Adjustable - New Era" precio="26,99" />
              </div>
              <div>
                <Tarjeta img="../assets/gorras/snapback/196294433614_1.avif" titulo="The North Face" contenido="Hatstore Exclusive x New York Yankees" precio="35,40" />
              </div>
              <div>
                <Tarjeta img="../assets/gorras/snapback/196945912154_1.avif" titulo="Goorin Bros" contenido="Los Angeles Dodgers 47 Mvp" precio="27,40" />
              </div>
              <div>
                <Tarjeta img="../assets/gorras/snapback/197507267408_1.avif" titulo="The North Face" contenido="Recycled 66 Classic Hat Pink Moss Adjustable - The North Face" precio="31,99" />
              </div>
              <div>
                <Tarjeta img="../assets/gorras/snapback/888588878125_1.avif" titulo="The North Face" contenido="Los Angeles Dodgers 47 Mvp" precio="27,40" />
              </div>
              <div>
                <Tarjeta img="../assets/gorras/snapback/5060962293105_1.avif" titulo="Goorin Bros" contenido="The Goat Coral Trucker - Goorin Bros" precio="19,90" />
              </div>
              <div>
                <Tarjeta img="../assets/gorras/snapback/7333179133785_1.avif" titulo="New Era" contenido="Hatstore Exclusive x New York Yankees" precio="35,40" />
              </div>
              <div>
                <Tarjeta img="../assets/gorras/snapback/8718526123692_1.avif" titulo="The North Face" contenido="Recycled 66 Classic Dark Sage/Mist Sage Adjustable - The North Face" precio="31,99" />
              </div>
              <div>
                <Tarjeta img="assets/gorras/newera/195131198105_1.avif" titulo="New Era" contenido="Recycled 66 Classic Hat Black Adjustable - New Era" precio="26,99" />
              </div>
        </div>
      </section>
      
      <style>
        #nuestroproductos {
          width: 70%;
        }
        #tituloproductos{
          margin-left:10%;
          margin-top:7%;
          margin-bottom:5%
        }
      
        #contenedormaintarjetas {
           /*TIPO FLEX PARA EL CONTENEDOR DE LAS TARJETAS */
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          gap: 20px; /* Espacio entre tarjetas */
        }
      
        #contenedormaintarjetas > div {
          width: calc(33.33% - 20px); /* Ajustar el ancho de cada tarjeta con un espacio de 20px entre ellas */
        }
      
        @media (max-width: 767px) {
          /* RESPONSIVE PARA LA PAGINA  */
          #contenedormaintarjetas > div {
            /* PARA MANEJAR EL ANCHO Y LOS BORDES DE LAS TARJETAS  */
            width: calc(100% - 20px); 
          }
        }
      </style>
</Layout>
