<div id="tarjeta2" class="tarjeta">
    <img id="imagen2" class="imagen" src="assets/399612496_964406625107674_1790441146020002730_n-removebg-preview.png" alt="Imagen de la tarjeta">
    <div id="contenido2" class="contenido">
      <h3 id="titulo2" class="titulo">Título de la Tarjeta</h3>
      <p>Contenido de la tarjeta. Puedes agregar más información aquí.</p>
    </div>
  </div>
  <style>
    #tarjeta2{
        width: auto;
        height: auto;
      border: 1px solid #000000;
      border-radius: 8px;
      overflow: hidden;
      margin: 20px;
      display: flex;
      align-items: center;
      justify-content: center ;
      flex-direction: column;

    }
    #imagen2{
        width:350px;
      

    }
    #contenido2{

        padding: 20px;
      display: flex;
      flex-direction: column;
    }
    #titulo2{
        font-size: 1.2em;
      font-weight: bold;
      margin-bottom: 10px;
    }
    @media (max-width: 900px) {
    #imagen2{
        width: 250px;
    }
    }
  </style>