<footer>
    <div id="texto-contenedor">
    <p>&copy; 2023 DCK222. Todos los derechos reservados.</p>
</div>
    <div class="image-container">
        <a class="btn btn-dark btn-social mx-2" href="https://github.com/DCK222" aria-label="Twitter"><i class="fab fa-github"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-google"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/alejandro-garcia-dorronsoro-819aa2290/" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
    </div>
</footer>
<style>
    
footer {
    background-color: #333;
    color: #fff;
    padding: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    width: 100%;
}

#texto-contenedor {
    display: flex;
    justify-content: start;
}

.image-container {
    display: flex;
    justify-content: center;
}
</style>