---
---


 
<header>
    <!-- CREAMOS EL HEADER CON UN LOGO Y UN NAV CON BOTONES PARA LLEGAR A LAS SECCIONES -->
    <div id="logo">
        <img width="60px" src="assets/logo.png" alt="Logo">
    </div>
    <div id="menu-icon">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <nav id="menu">
        <a href="newera" class="main-option">Marcas</a>
        <div class="submenu marca-submenu">
            <a href="newera">New Era</a>
            <a href="thenorthface">North Face</a>
            <a href="goorin">Goorin Bros</a>
        </div>
        <a href="tipotrucker" class="main-option">Tipo</a>
        <div class="submenu tipo-submenu">
            <a href="tipoplano">Tipo Plano</a>
            <a href="tipoajustable">tipo Ajustable</a>
            <a href="tipotrucker">Tipo Trucker</a>
        </div>
        <a href="sobrenosotros">Sobre Nosotros</a>
        <a href="/">Home</a>
        <a href="tienda">
            <img width="20px" src="assets/carro-de-la-carretilla (1).png" alt="Carrito">
        </a>
    </nav>

    <!-- funcion que al hacer pequeño el menu icono se muestre -->
    <script lang="js">
        document.getElementById('menu-icon').addEventListener('click', function () {
            document.getElementById('menu').classList.toggle('show');
        });

        // Añadir un evento para ocultar el submenú cuando el ratón sale del área del menú
        document.getElementById('menu').addEventListener('mouseleave', function () {
            // Ocultar el submenú después de un pequeño retraso (puedes ajustar el valor en milisegundos)
            setTimeout(function () {
                document.getElementById('menu').classList.remove('show');
            }, 200);
        });
    </script>
</header>
<style>


  body {
            margin: 0;
            font-family: 'Arial', sans-serif;
            margin-top: 70px;
        }

        header {
            background-color: rgb(231, 231, 231);
            color: rgb(0, 0, 0);
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: fixed; 
            top: 0; 
            width: 100%; 
            z-index: 1000;
        }

        #logo {
            margin-left: 1%;
        }

        nav {
            display: flex;
        }

        nav a {
            color: rgb(0, 0, 0);
            text-decoration: none;
            margin: 10px 20px;
        }

        #menu-icon {
            display: none;
            flex-direction: column;
            cursor: pointer;
        }

        #menu-icon div {
            width: 25px;
            height: 3px;
            background-color: black;
            margin: 3px 0;
        }

        #menu {
            display: flex;
        }

        #menu a {
            display: block;
        }

        /* hacemos responsive */
        @media (max-width: 800px) {
            #menu {
                display: none;
                flex-direction: column;
            }

            #menu.show {
                display: flex;
            }

            #menu-icon {
                display: flex;
            }

            nav a {
                display: none;
                margin: 10px;
            }
        }

        /* estilos para los submenus del header :  */
        .submenu {
        display: none;
        position: absolute;
        background-color: rgb(231, 231, 231);
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .main-option:hover + .submenu {
        /* estilo para cuando salte la caja del hover */
        display: flex;
        flex-direction: column;
    }

    .submenu a {
        padding: 10px;
        text-decoration: none;
        color: black;
    }
    .main-option:hover ~ .submenu {
    display: flex;
    flex-direction: column;
}

.submenu:hover {
    display: flex;
    flex-direction: column;
}

</style>
       
