---
---


 
<header>
    <div id="logo">
        
        <img width="60px" src="assets/logo.png" alt="Logo">
    </div>
    <nav>
        <a href="node">Node.Js</a>
        <a href="express">Express</a>
        <button type="button" class="btn btn-primary"> <a href="#"> Home </a></button>
    </nav>
</header>
<style>
 body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    margin-top: 70px;
   
}

header {
    background-color: rgb(231, 231, 231);
    color: rgb(0, 0, 0);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1000; 
    
}
#logo{
    margin-left: 1%;
}

nav {
    display: flex;
      
}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 10px 20px;
    font-weight: bold;
}

#AbrirNode {
    background-color: #33333300;
    border: 2px solid rgba(255, 204, 0, 0);
    border-radius: 10px;
}

#AbrirExpress {
    background-color: #33333300;    
    border: 2px solid rgba(255, 204, 0, 0);
    border-radius: 10px;
}


body {
    margin-top: 70px;
}

@media (max-width: 900px) {

}
</style>
       
