---
---


 
        <header>
            <div>
                <h1>DCKAP</h1>
                <!-- <img src="tu_logo.png" alt="Logo"> -->
            </div>
            <nav>
                <a href="#">Tipo</a>
                <a href="#">Marcas</a>
                <a href="#">Modelos</a>
                <a href="#">Sexo</a>
                <button type="button" class="btn btn-warning">Warning</button>
            </nav>
        </header>
        

    <style>
       
       body {
            margin: 0;
            font-family: 'Arial', sans-serif;
        }

        header {
            background-color: #333;
            color: white;
            padding: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        nav {
            display: flex;
           
            padding: 10px;
        }

        nav a {
            color: white;
            text-decoration: none;
            margin: 10px 20px;
            font-weight: bold;
        }
    </style>
