<div id="tarjeta" class="tarjeta">
    <img id="imagen" class="imagen" src="assets/398956637_1102980074024756_4853971165764625905_n-removebg-preview.png" alt="Imagen de la tarjeta">
    <div id="contenido" class="contenido">
      <h3 id="titulo" class="titulo">Título de la Tarjeta</h3>
      <p>Contenido de la tarjeta. Puedes agregar más información aquí.</p>
    </div>
  </div>
  <style>
    #tarjeta{
        width: auto;
        height: auto;
      border: 1px solid #000000;
      border-radius: 8px;
      overflow: hidden;
      margin: 20px;
      display: flex;
      align-items: center;
      justify-content: center ;
      flex-direction: column;

    }
    #imagen{
        width:350px;
      

    }
    #contenido{

        padding: 20px;
      display: flex;
      flex-direction: column;
    }
    #titulo{
        font-size: 1.2em;
      font-weight: bold;
      margin-bottom: 10px;
    }
    @media (max-width: 900px) {
    #imagen{
        width: 250px;
    }
    }
  </style>